/**********      Tag Selector         ************/
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
  line-height: 2;
}

img {
  max-width: 12.5rem;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

hr {
  color: hsl(0, 0%, 100%);
}

/**********      Class Selector         ***********/
.feature {
  text-align: center;
  margin: 0 auto;
  background-color: hsl(216, 50%, 16%);
  padding: 5% 7%;
  border-radius: 10px;
}

.col {
  text-align: center;
}

.container {
  padding: 7% 20%;
}

.one {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin-top: 14px;
  letter-spacing: 2px;
}

.two {
  color: hsl(215, 51%, 70%);
  font-size: 90%;
}

.three {
  color: hsl(178, 100%, 50%);
  font-weight: 100;
}

.four {
  margin-top: 3px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  font-size: 80%;
}

.five {
  text-align: center;
  color: hsl(215, 51%, 70%);
  font-size: 15px;
}

.six {
  color: hsl(0, 0%, 100%);
  transition: backgrounf-color 0.5s;
}
/******   Hover *******/
.six:hover{
  color: hsl(178, 100%, 50%);
}

.seven {
  position: absolute;
  width: 30px;
  border-style: groove;
  border-color: hsl(0, 0%, 100%);
}

.fa-ethereum {
  padding-right: 5%;
}

.fa-clock {
  font-size: 70%;
  padding-right: 5%;
}






/*******           Media Query          ********/

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .feature {
    text-align: center;
    background-color: hsl(216, 50%, 16%);
    padding: 5% auto;
    border-radius: 10px;
  }

  .container {
    padding: 7% 14.063em;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    text-align: center;
    background-color: hsl(216, 50%, 16%);
    padding: 5% auto;
    border-radius: 10px;
  }

  .container {
    padding: 7% 27em;
  }
}

